h1 {
    color: red;
}

.title {
    font-size: 25px;
}

.page-title {
    font-size: 50px;
}


/*Применение принципа насоедования с помощью тега BODY*/
body {
    font-size: 16px;
    color: #333;
    font-family:'Courier New', Courier, monospace;
}

.container h2 {
    color: blueviolet;
    font-size: 25px;
    word-spacing: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
