h1 {
    color: red !important; 
}

h1::before {
    content: "НЕТ"
}

h1::after {
    content: "МОНЕТ";
}

h1::first-letter{
    color: rgb(139, 209, 10);
}

/*Применение принципа насоедования с помощью тега BODY*/
body {
    font-size: 16px;
    color: #333;
    font-family:'Courier New', Courier, monospace;
}

.container h2 {
    color: rgb(119, 40, 194);
    font-size: 25px;
    word-spacing: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/*селектор с айди перебивает по весу селектор с классом*/ 
#title {
    font-size: 20px;
}
.page-title {
    font-size: 50px;
}

